@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #161716;
}


@media (-webkit-device-pixel-ratio: 1.1) {
  * {
    font-size: 95%;
    -moz-transform: scale(3);
    -moz-transform-origin: 0 0;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  * {
    font-size: 90%;
    -moz-transform: scale(3);
    -moz-transform-origin: 0 0;
  }
}

@media (-webkit-device-pixel-ratio: 1.1) {
  .Toastify__toast {
    font-size: 15px;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  .Toastify__toast {
    font-size: 16px;
  }
}